body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
}

.info {
  position: absolute;
  right: 20px;
  background: #000;
  padding-inline: 10px;
  bottom: 0;
  color: white;
  font-size: 16px;
}

.crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: white;
  pointer-events: none;
  user-select: none;
  z-index: 9999;
}
