body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  overflow: hidden;
}

.info{
  position: absolute;
  right: 20px;
  background: #000;
  padding-inline: 10px;
  bottom: 0;
  color: white;
  font-size: 16px;
}

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 1.2rem;
color: white;
  pointer-events: none; 
  user-select: none;
  z-index: 10;
}